In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("hateful_meme_dataset.csv")
df.head()

,Unnamed: 0,id,img,label,text
0,8025,58612,img/58612.png,1,this is my neighborhood after the mexicans mov...
1,2034,45691,img/45691.png,1,"call me ""sir"" one more time and i'll show you ..."
2,2139,89302,img/89302.png,1,damn son where'd you find this its ok baby im ...
3,7876,47516,img/47516.png,0,a dictator.. emphasis on the dic*
4,3304,40561,img/40561.png,0,feeling pretty cute might blow something up la...

In [4]:
df['label'].value_counts()

label
0    6657
1    4002
Name: count, dtype: int64